body {
    background-color: lightblue;
}
h1 {
    color: navy; text-align: center;
    margin-left: 20px;
}
h2 {
    color: navy; text-align: left;
    margin-top: 20px;
}
p {
    color: navy;
    margin-bottom: 50px;

}